@import "tailwindcss";

@theme {
  --color-bg-dark: #070707;
  --color-bg: #0d0d0d;
  --color-bg-light: #1c1c1c;

  --color-text: #f5f5f5;
  --color-text-muted: #9a9a9a;
  --color-text-muted-extra: #6f6f6f;

  --color-accent: #7a1f2b;        /* deep wine / blood red */
  --color-accent-hover: #9b2635;
  --color-border: #262626;
}


html {
  background-color: var(--color-bg-dark);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
