package main

templ root(page templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="robots" content="index, follow"/>
			<link rel="stylesheet" href="/static/tailwind.css"/>
			<title>Model agency</title>
		</head>
		<body class="">
			@page
		</body>
	</html>
}
