package pages

import (
	"github.com/gopher93185789/model_agency/pkg/types"
	"github.com/gopher93185789/model_agency/src/components"
)

templ Fotograaf(data []types.ModelOverviewInfo) {
	<main>
		<header>
			<h1 class="text-9xl font-bold mb-6 text-text">Fotografen Overzicht</h1>
			<p class="text-text-muted mb-10">
				Een overzicht van alle beschikbare fotografen in ons netwerk.
			</p>
		</header>
		@components.CardGrid(data)
	</main>
}
