package pages

type Measurements struct {
	Height string
	Bust   string
	Waist  string
	Hips   string
}

type ModelData struct {
	Name         string
	TotalShoots  int
	Email        string
	Location     string
	Bio          string
	Portfolio    []string
	Measurements Measurements
	Editable     bool
}

templ Model(data ModelData) {
	<div class="min-h-screen bg-bg-dark text-text p-4 md:p-6">
		
	</div>
}
